.mainDiv {
  padding-left: 25px;
  margin-left: 25px;
  border-left: 2px solid black;
}
.mainDiv > div:nth-child(2) {
  border-left: 2px solid black;
}
body {
  background-color: #d4d4d4;
}
.spanElem {
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 20px;
}
.replyBtn {
  cursor: pointer;
}
